:root {
  /* colors */
  --text-color: #313447;
  --primary-color: #afb7ea;
  --secondary-color: #f7b26f;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  font-family: 'Acme', sans-serif;
  color: var(--text-color);
  background-color: var(--primary-color);
  margin-top: 60px;
  text-transform: capitalize;
}

.hidden {
  display: none;
}

.page-container {
  margin-top: 60px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.btn-primary {
  background-color: var(--secondary-color);
  color: var(--text-color);
  width: 250px;
  margin: 10px;
  text-transform: capitalize;
  border-radius: 30px;
  border: 2px solid grey;
  font-size: 20px;
}
